
    </div>
    </nav>
    
    <div class="container">
        <form action="/users" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" required> 
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required> 
            </div>

            <div class="m-5 text-center">
                <button type="submit" class="btn btn-success w-50">Enviar Datos</button>
            </div>
            <div class="m-5 text-center">
                <button type="reset" class="btn btn-danger w-50">Borrar Datos</button>
            </div>
        </form>
    </div>


